<div>
  <h1>Registrar Visita</h1>

  
  <div *ngIf="paciente">
    <h2>Paciente Asignado: {{ paciente.nombre }} {{ paciente.apellido }}</h2>
    <p><strong>Tipo de Sangre:</strong> {{ paciente.tipo_sangre }}</p>
    <p *ngIf="paciente.alergias"><strong>Alergias:</strong> {{ paciente.alergias }}</p>
    <p><strong>Tutor:</strong> {{ paciente.tutor }}</p>
    <p *ngIf="paciente.medicamentos"><strong>Medicamentos:</strong> {{ paciente.medicamentos }}</p>
  </div>

  <form (ngSubmit)="registrarVisita()">
    <div>
      <label for="fecha">Fecha de la Visita:</label>
      <input type="datetime-local" id="fecha" [(ngModel)]="visita.fecha" name="fecha" required>
    </div>
    <div>
      <label for="descripcion">Descripción:</label>
      <textarea id="descripcion" [(ngModel)]="visita.descripcion" name="descripcion" required></textarea>
    </div>
    <button type="submit">Registrar Visita</button>
  </form>
</div>
