<h1 class="title">BIENVENIDOS A ASILO WEB</h1>
<div class="header">
  <button routerLink="/agregar-paciente">Agregar Paciente</button>
  <button routerLink="/agregar-auxiliar">Agregar Auxiliar</button>
  <button routerLink="/lista-auxiliares">Ver Auxiliares</button>
  <button routerLink="/lista-pacientes">Ver Pacientes</button>
  <button routerLink="/asignar-auxiliar">Asignar Auxiliar</button>
  <button routerLink="/lista-asignaciones">Ver Asignaciones</button>
  <button routerLink="/eliminar-auxiliar">Eliminar Auxiliar</button>
  <button routerLink="/eliminar-paciente">Eliminar Paciente</button>
  <button routerLink="/seleccionar-paciente">Seleccionar Paciente para Editar</button>
  <button routerLink="/seleccionar-auxiliar">Seleccionar Auxiliar para Editar</button>
</div>

<div class="image-container">
  <img src="../asilo.avif" alt="FOTO DE UN ASILO ANIMADO">
</div>
